body {
    font-family: 'Arial', sans-serif;
    background: url('bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 15%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
}

li button {
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
}

#empty-message {
    display: none;
    color: #6c757d;
}




/* responsive layout */
@media (max-width: 1024px) {
    .box {
        height: 300px;
        width: 300px;
        margin-top: 25px;
    }
    .boxs {
        height: 50px;
        font-size: 0.9rem;
    }
    .heading {
        font-size: 16px;
        height: 100px;
    }
}
@media (max-width: 768px) {
    .box {
        height:300px;
        width: 300px;
        margin-top: 25px;
    }
    .boxs {
        height: 50px;
        font-size: 0.9rem;
    }
    .heading {
        font-size: 16px;
        height: 100px;
    }
}
@media (max-width: 480px) {
    .box {
        height: 300px;
        width: 300px;
        margin-top: 25px;
    }
    .boxs {
        height: 50px;
        font-size: 0.9rem;
    }
    .heading {
        font-size: 16px;
        height: 100px;
    }
}
